* {
    margin: 0;
    padding: 0;
}

.med_content {
    width: calc(100% - 1000px);
    margin: 3px 0;
    padding: 0;
    display: flex;
    box-shadow: 6px 6px 6px rgb(0 0 0 / 30%);
}

.body_content {
    z-index: 0;
    position: relative;
    margin: 0;
    padding: 0;
}

.med_content_right {
    border-left: 1px solid black;
    width: calc(100% - 280px);
}

.med_content_right_block {
    width: 100%;
}

.med_content_block {
    width: calc(100% - 1008px);
    margin: 3px 0;
    box-shadow: 3px 3px 10px 2px rgb(0 0 0 / 30%);
}

.med_content_inside {
    margin-left: 10px;
}

.med_content_inside_block {
}

.mark_content {
    margin: 0;
    padding: 0;
    width: 150px;
    box-sizing: border-box;
    margin: 5px;
}

.col-6 {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.mark_items {
    width: 40px;
    height: 40px;
    display: inline;
    background-color: #ddd;
    margin: 5px;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    align-items: center;
}

.mark_items_block {
    width: 40px;
    height: 35px;
    background-color: #ddd;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    align-items: center;
}

    .mark_items_block p {
        height: 35px;
        line-height: 35px;
        font-size: 16px;
    }

.med_name {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 25px;
    font-weight: 900;
}

.med_detail {
    margin: 0;
    padding: 0;
    width: 100%;
}

.medImg_div {
    margin: 0;
    padding: 0;
    width: 100%;
    float: right;
    display: flex;
    align-items: center;
    height: 100%;
}

    .medImg_div .med_img {
        margin: auto;
        width: 75px;
        background-color: brown;
    }

.generic_name {
    margin: 0;
    padding: 0;
    text-align: left;
    color: gray;
    font-size: 14px;
}

.row_div {
    margin: 0;
    padding: 0;
    display: flex;
}

.col-4_div {
    margin: 0;
    width: 100%;
    padding: 0;
}

.left_bottom {
    display: flex;
}

.detail {
}

    .detail p {
        margin: 0;
        padding: 0;
        color: black;
        font-size: 14px;
        font-weight: 900;
        display: inline;
    }

    .detail .items {
        font-size: 20px;
        margin-right: 20px;
    }

.img {
    width: 120px;
}

.img_block {
    width: 100px;
}

.med_time {
    display: flex;
    width: 100%;
}

    .med_time p {
        color: gray;
        font-size: 14px;
        font-weight: 900;
        margin: 0;
        padding: 0;
    }

.med_time_block {
    width: calc(100% - 100px);
}

.format_btn {
    margin: 2px;
    width: 29px;
    border: 1px solid white;
    border-radius: 5px;
}

.med_time_p {
    color: gray;
    font-size: 14px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.green_border {
    border: 5px solid #22bd22;
    margin: 3px 0px;
    box-sizing: border-box;
}

.red_border {
    border: 10px solid red;
    margin: 3px 0px;
    box-sizing: border-box;
}


header {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #f1f1f1;
    width: 100%;
}

.header_div {
    margin: 0;
    padding: 10px;
    background-color: #31662e;
    text-align: center;
}

.header_title {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    display: inline;
    font-size: 20px;
}

.footer_white_space {
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.footer_div {
    margin: 0;
    padding: 0;
    background-color: #31662e;
    position: fixed;
    bottom: 0;
    overflow-x: hidden;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

html {
    overflow-x: hidden;
}

.swipeleft {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    visibility: hidden;
}

.swiperight {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
}

.swipe_visible {
    visibility: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: scroll;
    overflow-x: hidden;
    height: 100vh;
}

.patient_info_main {
    margin: 0;
    padding: 7px;
    width: 100%;
    border-bottom: 3px solid #484848;
}

    .patient_info_main p {
        margin: 0;
        padding: 0;
        font-weight: 900;
        font-size: 22px;
        font-family: "微軟正黑體";
        display: inline;
    }

.patient_info_main_div {
    display: inline;
    margin: 0 15px;
}

.patient_info_sec {
    margin: 0;
    width: 100%;
    text-align: start;
}

    .patient_info_sec p {
        margin: 0 15px;
        padding: 0;
        font-size: 20px;
        font-weight: 900;
        font-family: "微軟正黑體";
    }

.patient_info_sec_open {
    margin: 0;
    padding: 0 5px 5px 5px;
    width: 100%;
    text-align: start;
    display: block;
}

.patient_info_sec_close {
    margin: 0;
    padding: 0 5px 5px 5px;
    width: 100%;
    text-align: start;
    display: none;
}

.p_in_sec_open {
    margin: 0 15px;
    padding: 0;
    font-size: 18px;
    font-weight: 900;
    color: #666;
    font-family: "微軟正黑體"
}

.p_interatction {
    text-decoration: underline;
}

#img_center_div {
    text-align: center;
    border-bottom: 3px solid #484848;
}

.img_open {
    transform: rotate(180deg);
}

.img_expand {
    width: 25px;
}

.swipe_box {
    -webkit-transition: all 0.1s linear;
}

.img_close {
    width: 30px;
}

.check_finished {
    background-color: lawngreen;
}

.div_button {
    margin: 10px;
    height: 50px;
    width: 110px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 22px;
    font-weight: 900;
    vertical-align: middle;
}

    .div_button:active {
        box-shadow: inset 0 3px 10px #333,inset 0 -3px 10px #333;
    }

.header_div_button {
    margin: 0 10px;
    height: 28px;
    width: 90px;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 900;
    background-color: #ffb756;
    text-align: center;
}

.body_straight {
    width: 100%;
}

.block_header {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

._33block {
    width: 300px;
    background-color: bisque;
    border-radius: 10px;
    margin: 3px;
}

.prn {
    width: 300px;
    background-color: aqua;
    border-radius: 10px;
    display: none;
    margin: 3px;
}

.block_content p {
    max-width: 300px;
}

.interatction_hidden {
    background-color: #fff;
    display: none;
    border: 1px solid #484848;
    border-radius: 5px;
    padding: 3px;
}

    .interatction_hidden p {
        margin: 0;
        padding: 0;
    }

.modify_false {
    background-color: red;
}

.modify_true {
    background-color: green;
}

.modify_p {
    color: white;
}

.check_finished_p {
    color: black;
    margin: 0;
    margin-top: 5px;
}

.modify {
    float: left;
}

.back_img {
    float: left;
    width: 26px;
}

.gray_circle {
    width: 20px;
}

.white_circle {
    width: 25px;
}

.circle_div {
    width: 30%;
    text-align: center;
}

.btn_outside_div {
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display_none {
    display: none;
}


.detail_right {
    margin: 0;
    padding: 0;
    border-left: 2px solid #000000;
    padding-left: 7px;
}


.big_img_back {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 200;
    height: 100%;
    width: 100%;
}

.big_img_front {
    position: absolute;
    width: 92%;
    height: 92%;
    overflow: scroll;
}

.modal_content {
    background-color: white;
    padding: 1%;
}

.modal_content_column {
    display: flex;
    font-size: 20px;
    color: black;
}

    .modal_content_column p {
        margin: 0 5px;
    }

.column_left {
    width: 25%;
    border: 1px solid #444;
}

.column_right {
    width: 75%;
    border: 1px solid #444;
}

.modal_content_bottom {
    width: 100%;
    display: flex;
    font-size: 20px;
    color: black;
}

.modal_content_bottom_left {
    width: 50%;
    border: 1px solid #444;
}

.modal_content_bottom_right {
    width: 50%;
    border: 1px solid #444;
}

.drugImg {
    width: 100%;
}

@media screen and (max-width: 768px) and (min-width:640px) {
    .detail p {
        margin: 0;
        padding: 0;
        color: black;
        font-size: 14px;
        font-weight: 600;
        display: inline;
    }

    .detail .items {
        font-size: 18px;
        margin-right: 5px;
    }

    .med_time {
        width: 100%;
        display: block;
    }

    .med_name {
        font-size: 23px;
    }

    .patient_info_main p {
        font-size: 18px;
    }
}
